name: RzGrpcMock tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  GO111MODULE: "on"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Check out code
        uses: actions/checkout@v2

      - name: Linters
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.42

      - name: make lint
        run: make lint

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Check out code
        uses: actions/checkout@v2

      - name: make build
        run: make build

      - name: make test
        run: make test-coverage

      - name: Upload coverage report
        uses: codecov/codecov-action@v2
        with:
          token: dde19df5-c03b-49a5-9e95-32113b3ecfb7
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella

  tests-race100:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Check out code
        uses: actions/checkout@v2

      - name: make build
        run: make build

      - name: make test100
        run: make test
